/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.hide{
    display: none;
    cursor: pointer;
}

.li:hover  .hide{
    display: block;
    color: red;
}

body {
    background: linear-gradient(to right, blue 0%, green 50%, red 100%);
}